/* Space out content a bit */
body {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1em;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 0.5em;
}

#portfolioAdd {
	margin-top: 1em;
	margin-bottom: 1em;
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  height: 100% !important;
  font-size: small;
}

.ngViewport.ng-scope {
  height: 100% !important;
}

.ngViewport.ng-scope > .ngCanvas {
  width: 100% !important;
}

.ngViewport.ng-scope > .ngCanvas > .ng-scope {
  width: 100% !important;
  border-bottom-width: 0px !important;
}

#portfolioSelector {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}